<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Minimal Django File Upload Example</title>
    </head>

    <body>
	<!-- Mosaic Picture -->
	{% load static %}
	<img id="img"src="{% static "images/graduation_final.jpg" %}" alt="My image" onclick="reloadimg()" style='height: 100%; width: 100%; object-fit: contain' />
	<br>
        <!-- List of uploaded documents -->
        {% if documents %}
            All documents in the database:
            <ul>
                {% for document in documents %}
                    <li><a href="{{ document.docfile.url }}">{{ document.docfile.name }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No documents.</p>
        {% endif %}

        <!-- Upload form. Note enctype attribute! -->
        <form action="{% url "my-view" %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ message }}
            <p>{{ form.non_field_errors }}</p>

            <p>{{ form.docfile.label_tag }} {{ form.docfile.help_text }}</p>

            <p>
                {{ form.docfile.errors }}
                {{ form.docfile }}
            </p>

            <p><input type="submit" value="Upload"/></p>
        </form>
    </body>
    <script>
  var firebaseConfig = {
    apiKey: "AIzaSyCbXJ1BHRdFCONjz94AoxWCSabyAIS-c2E",
    authDomain: "photomosaic-es.firebaseapp.com",
    projectId: "photomosaic-es",
    storageBucket: "photomosaic-es.appspot.com",
    messagingSenderId: "525827625508",
    appId: "1:525827625508:web:1fe1dfa607fb6ab7eafeb1",
    measurementId: "G-PYY1JTE0MK"
  };
  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);
  firebase.analytics();
  function uploadimage(){
  var storage = firebase.storage();
  var file=document.getElementById("files").files[0];
  var storageref=storage.ref();
  var thisref=storageref.child(file.name).put(file);
  thisref.on('state_changed',function(snapshot) {
  console.log('Done');

  }, function(error) {
  console.log('Error',error);

}, function() {
  // Uploaded completed successfully, now we can get the download URL
  thisref.snapshot.ref.getDownloadURL().then(function(downloadURL) {
    console.log('File available at', downloadURL);
    document.getElementById("url").value=downloadURL;
    alert('uploaded successfuly');
    saveMessage(downloadURL);
  });
});
  // Get values
  var url = getInputVal('url');
  // Save message
  saveMessage(url);
  function getInputVal(id){
    document.getElementById('contactForm').reset();

}


// Function to get get form values
function getInputVal(id){
  return document.getElementById(id).value;
}

// Save message to firebase database
function saveMessage(url){
  var newMessageRef = messagesRef.push();
  newMessageRef.set({
   imageurl:url,
  });
}
}
setInterval(function() {
    var myImageElement = document.getElementById('myImage');
    myImageElement.src = 'screen.jpg?rand=' + Math.random();
}, 5000);
</script>
<script>
    function reloadimg(){
        var src = "{% static 'images/mosaic.jpeg' %}";
        imageObject = document.getElementById("pic");
        imageObject.style.display = 'inline-block';
        imageObject.src = src;  
    }
</script>

</html>
